.UploadB {
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    background:#FFEDDA ;
    padding: 0.6em;
    border-radius: 11px;
}
.UploadB:hover {
    background: #3DB2FF;
}
.UploadB:active {
    background: #23689B;
    padding: 0.45em;
    border-radius: 8px;
}

.SubmitB {
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
    background:#FFEDDA;
    padding: 15px 20px;
    border-radius: 11px;
}
.SubmitB:hover {
    background: #3DB2FF;
}
.SubmitB:active {
    background: #b42c4ee5;
    padding: 13px 12px;
    border-radius: 8px;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

[type=radio] + img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    max-width: 29%; 
    width: 14.5em;
    height: 7.5em;
    padding: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

[type=radio]:checked + img {
    box-shadow: 0em 0em 0.75em 0 rgb(44, 255, 55);
    /* outline: 10px solid rgba(116, 255, 24, 0.993); */
  }

input[type=file], input[type=submit], input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.column {
    float:left;
    text-align-last: center;
    border-radius: 10px;
    height: 75vh;
    padding: 3%;
}

form {
    padding-bottom: 10%;
    margin-top: 1em;
  }

h1 { 
    color: #000000;
    font-family: 'Droid serif', serif;  
    font-size: 4em; 
    font-weight: normal; 
    line-height: 50%; 
    margin: 1vh 0 1vh; 
    text-align: center; 
    text-shadow: 1px 1px 2px #fdeeee;
    padding-top: 2%;
    background-color: #0779E4;
    border-radius: 10px;
    height: 12vh;
}

.prev_img {
    margin-top: 1em;
    max-width: 70%; 
    width: 90%;
    padding: 0.8em;
} 